@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
h1 {
  font-size: 25px;
}

h2 {
  font-size: 20px;
}

p {
  font-size: 15px;
  width: 100%;
  text-align: center;
}

/*es la fotito que esta abajo del texto de bienvenida*/
.baner {
  width: 100%;
  height: 100px;
  background-image: url("../img/bannnner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.baner h1 {
  color: #ceb1d8;
}
.baner p {
  color: white;
}
.baner {
  text-align: center;
}

/*aca estan los tres mejores juegos*/
.mejores {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 20px 20px;
}

/*esto hace que los tres juegos queden en tamaño caja de play*/
.cards {
  flex: 0 0 200px;
  height: 300px;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
  overflow: visible;
  transition: transform 1.5s ease, filter 1.5s ease;
  box-shadow: 0 10px 25px rgb(1, 1, 1);
}

.mini-card {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(10px);
  width: 150px;
  background: rgb(226, 224, 221);
  color: rgb(29, 27, 27);
  padding: 10px;
  border-radius: 10px;
  font-size: 14px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease, transform 1s ease;
}

/*esto es para que se agrande cuando le pasas el mouse por arriba*/
.cards:hover {
  transform: scale(1.05);
  filter: grayscale(1);
}

.cards:hover .mini-card {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

/*LOGO*/
.logo {
  width: 80px;
  position: absolute;
  left: 1px;
  margin: 20px 1px 1px 1px;
}

/*INICIO HEADER*/
/*hacemos que el header scrolee con nosotros para poder tener siempre el nav a mano*/
header {
  background-color: rgb(36, 36, 114);
  position: sticky;
  z-index: 1000; /*este zindex 1000 hace que el header se ponga arriba de todo*/
  top: 0px;
  width: 100%;
  padding-top: 10px;
}

/*es parte de lo que hace bajar al nav*/
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0 20px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #440bcb;
  gap: 35px;
  width: 100%;
  padding: 10px;
}

nav a,
.navbar-brand {
  color: white;
  text-decoration: none;
}

/*FIN HEADER*/
/*INICIO BODY*/
body {
  background: linear-gradient(to right, rgb(91, 91, 160), rgb(146, 224, 146));
}

/*BODY PRODUCTOS*/
.texto,
.categoria {
  margin-top: 20px;
  text-align: center;
}

.texto h1,
.titulo h1 {
  margin-top: 10px;
  font-size: 30px;
}
.texto h2,
.titulo h2 {
  font-size: 23px;
  text-align: left;
}
.texto,
.titulo {
  max-width: 900px;
  margin: 60px auto;
  padding: 40px 30px;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(6px);
  border-radius: 16px;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.6;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.5);
}

.cat {
  align-items: center;
  background-color: rgb(95, 35, 135);
  height: 25px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgb(0, 0, 0);
}

.cat:hover {
  transition: transform 0.4s ease;
  transform: scale(1.05);
}

/*esta es la lista desplegable de juegos, consolas, etc.*/
details {
  background-color: #412470;
  color: white;
  margin: 10px;
  border-radius: 6px;
  padding: 8px;
}

details:hover {
  transition: transform 2s ease;
  transform: scale(1.02);
}

summary {
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

details ul {
  list-style: none;
  padding-left: 15px;
  margin-top: 8px;
}

details ul li {
  padding: 7px;
}

/*FIN BODY PRODUCTOS*/
/*INICIO BODY CONTACTOS*/
/* ===== CONTACTO → FLEX ===== */
.contacto-flex {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 10px;
}

/*FIN BODY CONTACTOS*/
/*INICIO BODY DEVOLUCIONES*/
.devoluciones-grid {
  display: grid;
  gap: 20px;
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
  border-radius: 10px;
}

/*FIN BODY DEVOLUCIONES*/
/*FIN BODY*/
.wrapper {
  display: inline-flex;
  list-style: none;
  height: 120px;
  width: 100%;
  padding-top: 40px;
  font-family: "Poppins", sans-serif;
  justify-content: center;
}

.wrapper .icon {
  position: relative;
  background: #fff;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #fff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1da1f2;
  color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #e4405f;
  color: #fff;
}

/*INICIO FOOTER*/
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1b1d1f;
  color: white;
  gap: 35px;
  width: 100%;
  padding: 15px 0;
  text-align: center;
}

footer a {
  color: white;
  text-decoration: none;
  font-size: 10px;
}

footer a:hover {
  text-decoration: underline;
}

/*FIN FOOTER*/

/*# sourceMappingURL=styles.css.map */
