@use 'base/reset';

@use 'utilities/variables';
@use 'utilities/mixin';
@use 'base/tipografias';

@use 'layout/inicio';
@use 'layout/header';
@use 'layout/main';
@use 'utilities/contact';
@use 'layout/footer';

@use 'utilities/social'